<p>dashboard works!</p>
<div id="myExcelDiv" style="width: 402px; height: 346px"></div>
<!-- * This code uses the Microsoft Office Excel Javascript object model to programmatically insert the
	 * Excel Web App into a div with id=myExcelDiv. The full API is documented at
	 * https://msdn.microsoft.com/en-US/library/hh315812.aspx. There you can find out how to programmatically get
	 * values from your Excel file and how to use the rest of the object model. -->

<input type="button" id="GetRange" value="Get Range" onclick="getRangeFromSheetButton()" />